@model App.Web.Areas.Admin.ViewModels.Product.AddOrUpdateProductVM

<div class="row">
	<input type="hidden" name="beforeUrl" value="@ViewBag.BeforeUrl" />
	<div class="col-md-2">
		<div class="form-group">
			<label asp-for="ProductCode" class="control-label">Mã sản phẩm</label>
			@if (ViewBag.CheckProductCode == true)
			{
				<input asp-for="ProductCode" placeholder="Mã sản phẩm..." class="form-control" />
			}
			else
			{
				<input asp-for="ProductCode" readonly placeholder="Mã sản phẩm..." class="form-control" />
			}
			<span asp-validation-for="ProductCode" class="text-danger"></span>
		</div>
	</div>
	<div class="col-md-10">
		<div class="form-group">
			<label asp-for="ProductName" class="control-label">Tên sản phẩm</label>
			<input asp-for="ProductName" placeholder="Tên sản phẩm..." class="form-control" />
			<span asp-validation-for="ProductName" class="text-danger"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<label asp-for="Price" class="control-label">Giá gốc</label>
			<input class="form-control" asp-for="Price" placeholder="Giá gốc sản phẩm..." />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
	</div>
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label asp-for="DiscountPrice" class="control-label">Giá khuyến mãi</label>
					<input asp-for="DiscountPrice" class="form-control" placeholder="Giá Khuyến mãi..." />
					<span asp-validation-for="DiscountPrice" class="text-danger"></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label asp-for="DiscountFrom" class="control-label">Ngày bắt đầu</label>
					<input asp-for="DiscountFrom" type="datetime-local" class="form-control" />
					<span asp-validation-for="DiscountPrice" class="text-danger"></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label asp-for="DiscountTo" class="control-label">Ngày kết thúc</label>
					<input asp-for="DiscountTo" type="datetime-local" class="form-control" />
					<span asp-validation-for="DiscountTo" class="text-danger"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label asp-for="CategoryId" class="control-label required">Danh mục</label>
			<vc:select-product-category product="Model" />
			<span asp-validation-for="CategoryId" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="BrandId" class="control-label required">Thương hiệu</label>
			<vc:select-product-brand product="Model" />
			<span asp-validation-for="BrandId" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="ProductColorId" class="control-label required">Màu sắc</label>
			<vc:select-product-color product="Model" />
			<span asp-validation-for="ProductColorId" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="TagProduct" class="control-label">Tag sản phẩm</label>
			<input asp-for="TagProduct" class="form-control" placeholder="Tag sản phẩm..." />
			<span asp-validation-for="TagProduct" class="text-danger"></span>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label asp-for="StampPath" class="control-label">Ảnh kích thước size</label>
					<div class="btn-group w-100" role="group">
						<input asp-for="StampPath" placeholder="Image...."
							   readonly class="form-control" />
						<input type="button" class="btn btn-secondary btn-elfinder"
							   data-imgthumbnailpath="#StampPath"
							   data-imgpath="#StampPath"
							   value="Chọn ảnh" />
					</div>
					<span asp-validation-for="StampPath" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="row">
			@* @{
				var listSize = (List<App.Data.Entities.Products.MstProductSize>)ViewBag.ListSize;
				var listQuantity = Model?.AppIntermediateProducts == null ? null : Model.AppIntermediateProducts.ToList();
			}
			@for (int i = 0; i < listSize.Count(); i++)
			{
				<div class="col-md-6">
					<input type="hidden" value="@listSize[i].Id" name="AppIntermediateProducts[@i].MstProductSizeId" />
					<div class="form-group">
						<label for="AppProductQuantities[@i].InStock" name="AppProductQuantities[@i].InStock" class="control-label">
							Số lượng size <span class="badge badge-dark">@listSize[i].SizeCode</span>
						</label>
						<input id="AppIntermediateProducts[@i].AppProductQuantities[0].InStock"
							   name="AppIntermediateProducts[@i].AppProductQuantities[0].InStock"
							   value="@(listQuantity is null ? 0 : listQuantity[i].AppProductQuantities.First().InStock)"
							   type="number"
							   class="form-control" />
					</div>
				</div>
			} *@
		</div>
	</div>
</div>

<div class="form-group">
	<section class="content">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Ảnh sản phẩm</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					@{
						var imgs = Model?.AppProductImages.Take(6).ToList();
						for (int i = 1; i <= 6; i++)
						{
							var path = "";
							if (imgs != null && i <= imgs.Count)
							{
								path = imgs[i - 1].ImagePath;
							}
							<div class="col-md-2">
								<div class="form-group group-container">
									<label class="control-label">Ảnh @i</label>
									<div id="elfinder-background"></div>
									<input name="LinkImage@(i)" id="LinkImage@(i)" hidden value="@path" class="form-control">
									<div class="position-relative">
										<input type="button"
											   class="btn btn-elfinder w-100 h-100 position-absolute"
											   data-imgthumbnailpath="#LinkImage@(i)"
											   data-imgpath="#LinkImage@(i)">
										<div class="selectedImages" style="height: 200px;">
											@{
												if (Model is null)
												{
													<span>Ảnh @i</span>
												}
												else
												{
													@if (Model.AppProductImages != null)
													{
														if (!path.IsNullOrEmpty())
														{
															<img class="image-review" src="@path" />
														}
														else
														{
															<span>Ảnh @i</span>
														}
													}
													else
													{
														<span>Ảnh @i</span>
													}
												}
											}
										</div>
									</div>
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
	</section>
</div>

<div class="form-group">
	<label asp-for="Description" class="control-label">Mô tả sản phẩm</label>
	<textarea asp-for="Description" class="form-control"> </textarea>
	<span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
	<section class="content">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">SEO</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Title</label>
							<input asp-for="SEOTitle" placeholder="Title..." class="form-control" />
							<span asp-validation-for="SEOTitle" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class="control-label">Description</label>
							<textarea asp-for="SEODescription" placeholder="Description..." class="form-control"></textarea>
							<span asp-validation-for="SEODescription" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Keyword</label>
							<input asp-for="SEOKeyword" placeholder="Keyword..." class="form-control" />
							<span asp-validation-for="SEOKeyword" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="SEOImagePath" class="control-label">Image</label>
							<div class="btn-group w-100" role="group">
								<input asp-for="SEOImagePath" placeholder="Image...."
									   readonly class="form-control" />
								<input type="button" class="btn btn-secondary btn-elfinder"
									   data-imgthumbnailpath=""
									   data-imgpath="#SEOImagePath"
									   value="Chọn ảnh" />
							</div>
							<span asp-validation-for="SEOImagePath" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-12">
						<button type="button" class="btn btn-info btn-getSEO"
								title="Lấy thông tin sản phẩm cho mục đích SEO">
							Lấy thông tin SEO
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>