<!DOCTYPE html>

<html lang="en" class="html-login-page html-shopping-cart-page html-category-page html-customer-info-page html-registration-page mdl-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/awesome-notifications/style.min.css" rel="stylesheet" />

    <link href="~/clienttle/css/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    @RenderSection("head", required: false)
</head>
<body>
    <div class="master-wrapper-page">
        @if (TempData["Messenger"] != null)
        {
            <div class="alert alert-success">
                <strong>Thành công! @TempData["Messenger"]</strong>
            </div>
        }@if (TempData["Err"] != null)
        {
            <div class="alert alert-danger">
                <strong>Thành công! @TempData["Err"]</strong>
            </div>
        }

        <partial name="_header.cshtml" />

         @RenderBody()

         <partial name="_footer.cshtml" />
    </div>
    @await Component.InvokeAsync("Notyf")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/clienttle/js/footer.js"></script>
    <script src="https://campaign.tsminifier.net/v2/opt/seo/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script src="~/lib/awesome-notifications/index.var.min.js"></script>

    <script src="~/clienttle/js/custom.js"></script>
    <script src="~/clienttle/js/cart_custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
