<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/clienttle/css/style.css" rel="stylesheet" />
    @* <script src="~/clienttle/js/head.js"></script> *@

    @RenderSection("head", required: false)
</head>
<body>
    <div class="master-wrapper-page">
        @if (TempData["Messenger"] != null)
        {
            <div class="alert alert-success">
                <strong>Thành công! @TempData["Messenger"]</strong>
            </div>
        }@if (TempData["Err"] != null)
        {
            <div class="alert alert-danger">
                <strong>Thành công! @TempData["Err"]</strong>
            </div>
        }
        <partial name="_header.cshtml" />

         @RenderBody()

         <partial name="_footer.cshtml" />
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/clienttle/js/custom.js"></script>
    <script src="~/lib/slick-carousel/slick.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
