@model App.Web.ViewModels.Product.ProductDetailClientVM

@{
    ViewData["Title"] = "Danh mục sản phẩm" + ViewBag.CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var now = DateTime.Now;
    var tst = 0;
    var ramtst = 0;
}
@section head{
    <link href="~/lib/slick-carousel/slick.min.css" rel="stylesheet" />
    <link href="~/lib/slick-carousel/slick-theme.min.css" rel="stylesheet" />
}

<div class="bg-sg"></div>
<div id="show_image_popup">
    <div class="close-btn-area">
        <button id="close-img-btn" title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
    <img id="large-image" src="" alt="">
</div>

<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        @* url link *@
        <div class="breadcrumb">
            <ul>
                <li>
                    <span>
                        <a asp-action="Index" asp-controller="Home">
                            <span>Trang chủ</span>
                        </a>
                    </span>
                    <span class="delimiter">&#x203A;</span>
                </li>
                <li>
                    <a asp-action="" asp-controller="">
                        <span>Mac</span>
                    </a>
                    <span>&#x203A;</span>
                </li>

                <li>
                    <a asp-action="" asp-controller="">
                        <span>MacBook Air</span>
                    </a>
                    <span class=delimiter>&#x203A;</span>
                </li>

                <li>

                    <strong>MacBook Air M3 15 inch</strong>
                </li>
            </ul>
        </div>
        <div class="center-1">
            <!--product breadcrumb-->
            <div class="page product-details-page">
                <div class="page-body">
                    <div id="product-details-form">
                        <div class="product-essential" style="position:relative">
                            @if(Model.AppProductImages.Count() > 0)
                            {
                                <div  class="gallery_sticky">
                                    <div class="gallery">
                                    <div class="picture" id="slick-slide">
                                        <a id="main-product-img-lightbox-anchor-70">
                                                <img src="@Model.AppProductImages.First().ImagePath"
                                                    alt="" id="main-product-img-70" />
                                        </a>
                                    </div>

                                        <div class="slick slideshow picture-thumbs" id="slick">
                                            @foreach (var itemImg in Model.AppProductImages)
                                            {
                                                <div class="thumb-item">
                                                    <img src="@itemImg.ImagePath"
                                                         data-defaultsize= "@itemImg.ImagePath"/>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            <!--product pictures-->
                          
                            <div class="overview" style="margin-bottom: 0"></div>
                            <div class="overview">
                                <div class="wrapper-info">
                                    <div class="product-name">
                                        <h1>
                                            <input type="hidden" id="id-product" value="@Model.Id" />
                                            <span class="main-name">@Model.ProductName </span>
                                            <span class="product-name-variant"></span>
                                        </h1>
                                    </div>
                                </div>

                                <!-- flash sale-->
                                <!--price product-->
                                <div class="prices">
                                    @if(Model.DiscountPrice == null)
                                    {
                                        <div class="product-price">
                                            <span id="new-price-discount" class="new-price">@Model.Price.ToString("#,0")₫</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="display: flex;">
                                            <div class="product-price">
                                                <span id="new-price-discount" class="new-price">@Model.DiscountPrice?.ToString("#,0")₫</span>
                                            </div>
                                            <div class="old-product-price">
                                                <span id="old-price-val" data-price ="@Model.Price">@Model.Price.ToString("#,0")₫</span>
                                                <input type="hidden" id="hidden-price" value="@Model.Price" data-price="@Model.Price" />
                                            </div>
                                        </div>
                                    }
                                </div>

                                <!-- quantity flash sale-->
                                <!--attributes-->
                                <div class="attributes">
                                    <dl>
                                        <dt>
                                            <label class="text-prompt">
                                                Dung lượng
                                            </label>
                                            @* <span class="label-value">128GB</span> *@
                                        </dt>

                                        <dd id="product_attribute_input_3859">
                                            <ul class="option-list rom darkcontrols">
                                                @foreach(var rom in Model.RomOptions)
                                                { 
                                                    <li class="">
                                                        <a class="change-price selected" data-id="@rom" @* data-price="@rom.DiscountPrice" *@>
                                                            @if(tst == 0 )
                                                            {
                                                                <label id="rom-options" class="checked-attr">@rom</label>
                                                            }
                                                            else
                                                            {
                                                                <label id="rom-options">@rom</label>
                                                            }
                                                        </a>
                                                    </li>
                                                    tst++;
                                                }
                                            </ul>
                                        </dd>

                                        @if((Model.CategoryId == 1 || Model.CategoryId == 4) || Model.CategoryId == 5 )
                                        {
                                            <dt>
                                                <label class="text-prompt">
                                                    Ram
                                                </label>
                                            </dt>
                                            <dd id="product_attribute_input_3859">
                                                <ul class="option-list ram darkcontrols">
                                                @foreach(var ram in Model.RamOptions)
                                                {
                                                    <li>
                                                        <a class="change-price-ram selected" data-id="@ram">
                                                            @if(ramtst == 0)
                                                            {
                                                                <label id="ram-options" class="checked-attr">@ram</label>
                                                            }
                                                            else
                                                            {
                                                                <label id="ram-options">@ram</label>
                                                            }
                                                        </a>
                                                    </li>
                                                    ramtst++;
                                                }
                                                </ul>
                                            </dd>
                                        }

                                        <dt id="product_attribute_label_3860" class=''>
                                            <label class="text-prompt">
                                               Màu sắc
                                            </label>
                                            @* <span class="label-value" id="label_val_3860">Màu đen</span> *@
                                        </dt>

                                        <dd id="product_attribute_input_3860">
                                            <ul class="option-list attribute-squares color-squares">
                                                @foreach(var color in Model.MstProductColors)
                                                {
                                                    <li class="selected-value">
                                                        <label for="product_attribute_3860_9049">
                                                            <span class="attribute-square-container">
                                                                <span class="attribute-square"
                                                                      style="background-color: @color.CssColor;">@color.ColorName</span>
                                                            </span>
                                                            <input id="product_attribute_3860_9049" type="radio" name="product_attribute_3860"
                                                                   value="9049" checked="checked" onclick="showHideRadioQuantity(null,'Đen')" />
                                                        </label>

                                                    </li>
                                                }
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>


                                <!--Thông tin khuyến mại -->
                                <partial name="_PromotionInformation.cshtml" />

                                <!--availability-->
                                <div class="product-detail-action-button normal" id="cart-button-prd">
                                    <!--add to cart & estimate shipping-->
                                    <div class="first-add-to-cart">
                                        <div class="add-to-cart">
                                            <div class="add-to-cart-panel">
                                                <a class="button-1 add-to-cart-button once-submit-button"
                                                    asp-action="Index" asp-controller="Cart"
                                                    onclick="buyNow(event, @Model.Id)">
                                                    Mua ngay
                                                </a>
                                            </div>

                                        </div>
                                    </div>

                                    <!--tra gop - thu cu doi moi-->
                                    <div class="all-btn_buttom">
                                        <a class="btn_buttom">Trả góp</a>
                                        <a class="btn_buttom thucu once-submit-button">Thu cũ đổi mới</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--danh sách phụ kiện đi kèm-->


                        <div class="tab-details">
                            <ul class="nav nav-pills mb-3 nav-product-detail" id="pills-tab" role="tablist">
                                <li class="nav-item  nav-product-detail-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                                       aria-controls="pills-profile" aria-selected="false">Thông số kỹ thuật</a>
                                </li>
                                <li class="nav-item  nav-product-detail-item">
                                    <a class="nav-link" id="pills-seo-tab" data-toggle="pill" href="#pills-seo-description"
                                       role="tab" aria-controls="pills-seo" aria-selected="false">Chi tiết sản phẩm</a>
                                </li>
                                <li class="nav-item nav-product-detail-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                                       aria-controls="pills-contact" aria-selected="false">Hỏi đáp</a>
                                </li>
                            </ul>
                        </div>
                        <!--Tính toán trả góp-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".product-reviews").appendTo($(".container-review"));

            $(".product-grid.cross-sells .item-grid").slick({
                slidesToShow: 4,
                slidesToScroll: 4,
                infinite: false,
                responsive: [
                    {
                        breakpoint: 1920,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4,

                        }
                    },
                    {
                        breakpoint: 1000,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,

                        }
                    },
                    {
                        breakpoint: 769,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            
                        }
                    }]
            });

        });


        var selectedRom = @Html.Raw(Json.Serialize(Model.AppProductDetails.First().Rom));
        var selectedRam = @Html.Raw(Json.Serialize(Model.AppProductDetails.First().Ram));
        var productName = "@Model.ProductName";

        $(".main-name").html(productName + " | " + selectedRam + " | " + selectedRom);


        $(".change-price").click(ev => {

            selectedRom = $(ev.currentTarget).attr("data-id");

            var disPrice = findDisPrice(selectedRam, selectedRom);

            var price = findPrice(selectedRam, selectedRom);

            if (disPrice == null) {
                $("#new-price-discount").html(price + "₫");
            }
            else {
                $("#new-price-discount").html(disPrice + "₫");
                $("#old-price-val").html(price + "₫");
            }
            $(".main-name").html(productName + " | " + selectedRam + " | " + selectedRom);
            $('.option-list.rom .checked-attr').removeClass('checked-attr');

            // Thêm lớp checked-attr vào nhãn của tùy chọn được chọn
            $(ev.currentTarget).find('label').addClass('checked-attr');
        });

        $(".change-price-ram").click(ev => {
            selectedRam = $(ev.currentTarget).attr("data-id");

            var disPrice = findDisPrice(selectedRam, selectedRom);

            var price = findPrice(selectedRam, selectedRom);
            if (disPrice == null) {
                $("#new-price-discount").html(price + "₫");
            }
            else {
                $("#new-price-discount").html(disPrice + "₫");
                $("#old-price-val").html(price + "₫");
            }
            $(".main-name").html(productName + " | " + selectedRam + " | " + selectedRom);
            $('.option-list.ram .checked-attr').removeClass('checked-attr');

            // Thêm lớp checked-attr vào nhãn của tùy chọn được chọn
            $(ev.currentTarget).find('label').addClass('checked-attr');
        });

        var dataFromView = @Html.Raw(Json.Serialize(Model.AppProductDetails));
        function findPrice(ram, rom) {          
            for (var i = 0; i < dataFromView.length; i++) {
                if (dataFromView[i].ram === ram && dataFromView[i].rom === rom) {
                    console.log(dataFromView[i].price);
                    return dataFromView[i].price;
                }
            }
            return "N/A"; // Trả về "N/A" nếu không tìm thấy giá tương ứng
        }
        function findDisPrice(ram, rom) {          
            for (var i = 0; i < dataFromView.length; i++) {
                if (dataFromView[i].ram === ram && dataFromView[i].rom === rom) {
                    console.log(dataFromView[i].discountPrice);
                    return dataFromView[i].discountPrice;
                }
            }
            return "N/A"; // Trả về "N/A" nếu không tìm thấy giá tương ứng
        }

    </script>


    <script type="text/javascript">
        $("#thumb-video-popup-detail .check_close").click(function () {
            $('#thumb-video-popup-detail').hide();
            $('#thumb-video-popup-detail iframe').attr("src", "");
            $("body").css("overflow", "unset");
            $(".overview").css("z-index", 0);
            $(".draggable").css("z-index", 0);
        });
        function thumbVideo(src) {
            console.log(src);
            $('#thumb-video-popup-detail iframe').attr("src", src);
            $('#thumb-video-popup-detail').show();
            $("body").css("overflow", "hidden");
            $(".overview").css("z-index", -1);
            $(".draggable").css("z-index", -1);
        };
        $(document).ready(function () {
            $(".picture-thumbs").slick({
                slidesToShow: 4,
                slidesToScroll: 4,
                infinite: true,
            });
            $('.thumb-item img').on('click',
                function () {
                    $('#main-product-img-70').attr('src', $(this).attr('data-defaultsize'));
                    $('#main-product-img-70').attr('title', $(this).attr('title'));
                    $('#main-product-img-70').attr('alt', $(this).attr('alt'));
                    $('#main-product-img-lightbox-anchor-70')
                        .attr('href', $(this).attr('data-fullsize'));
                    $('#main-product-img-lightbox-anchor-70').attr('title', $(this).attr('title'));
                    $('#main-product-img-lightbox-anchor-70').removeClass("d-none");
                    $('.picture-video').addClass('d-none');
                });
        });
    </script>

}
