@model App.Web.Areas.Admin.ViewModels.Account.UpdateUserViewModel
@{
	ViewData["Title"] = "MyProfile";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
	string wasNullData = "Chưa đặt";
}

@section head{
	<style>
		.bigger-text {
			font-size: 1.25rem;
		}
	</style>
}

@{
	if (ViewBag.UpdateMessage != null)
	{
		var response = ViewBag.UpdateMessage;
		if (response.IsSuccess)
		{
			<div class="alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				@response.Message
			</div>
		}
		else
		{
			<div class="alert alert-warning alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				@response.Message
			</div>
		}
	}
}

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<!-- Profile Image -->
				<div class="card card-primary card-outline">
					<div class="card-body box-profile">
						<div class="text-center">
							<img class="profile-user-img img-fluid img-circle" src=@(Model.Avatar ?? "/Images/Avatar/default.png") alt="User profile picture">
						</div>

						<h3 class="profile-username text-center">@(Model.Username ?? wasNullData)</h3>

						@*<p class="text-muted text-center">@Model.RoleName</p>*@

						<ul class="list-group list-group-unbordered mb-3">
							<li class="list-group-item">
								<b>Phân quyền</b>
								<a class="float-right">@(Model.RoleName ?? "Chưa phân quyền")</a>
							</li>
						</ul>
					</div>
					<!-- /.card-body -->
				</div>
			</div>
			<!-- /.col -->
			<div class="col-md-9">
				<div class="card">
					<div class="card-header p-2">
						<ul class="nav nav-pills">
							<li class="nav-item"><a class="nav-link active" href="#update" data-toggle="tab">Thông tin chi tiết</a></li>
							<li class="nav-item"><a class="nav-link" href="#authorize" data-toggle="tab">Phân quyền</a></li>
						</ul>
					</div><!-- /.card-header -->
					<div class="card-body">
						<div class="tab-content">
							<div class="tab-pane active" id="update">
								<form class="form-horizontal" asp-area="Admin" asp-controller="Account" asp-action="MyProfile" method="post">
									<div class="form-group row">
										<label asp-for="FullName" class="col-sm-2 col-form-label">Họ và tên</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" asp-for="FullName" placeholder="@(Model.FullName ?? "Họ và tên")">
										</div>
									</div>
									<div class="form-group row">
										<label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
										<div class="col-sm-10">
											<input type="email" class="form-control" asp-for="Email" placeholder="@(Model.Email ?? "Email")" disabled>
										</div>
									</div>
									<div class="form-group row">
										<label asp-for="PhoneNumber" class="col-sm-2 col-form-label">Số điện thoại </label>
										<div class="col-sm-10">
											<input type="text" class="form-control" asp-for="PhoneNumber" placeholder="@(Model.PhoneNumber ?? "Số điện thoại")">
										</div>
									</div>
									@* <div class="form-group row">
										<label asp-for="PhoneNumber2" class="col-sm-2 col-form-label">Số điện thoại 2</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" asp-for="PhoneNumber2" placeholder="@(Model.PhoneNumber2 ?? "Số điện thoại 2")">
										</div>
									</div> *@
									<div class="form-group row">
										<label asp-for="Address" class="col-sm-2 col-form-label">Địa chỉ</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" asp-for="Address" placeholder="@(Model.Address ?? "Địa chỉ")">
										</div>
									</div>
									<div class="form-group row">
										<div class="offset-sm-2 col-sm-10">
											<button type="submit" class="btn btn-success">Lưu</button>
											<button type="reset" class="btn btn-light">Nhập lại</button>
										</div>
									</div>
								</form>
							</div>
							<div class="tab-pane" id="authorize">
								<strong><i class="fas fa-key mr-1"></i> Phân quyền</strong>
								<p class="text-muted bigger-text">@Model.RoleName</p>
								<hr>
							</div>
							<!-- /.tab-pane -->
						</div>
						<!-- /.tab-content -->
					</div><!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div><!-- /.container-fluid -->
</section>