@model App.Web.Areas.Admin.ViewModels.Account.UpdateUserViewModel
@{
    ViewData["Title"] = "MyProfile";
}

@{
    string wasNullData = "Chưa đặt";
}

@section head {
    <style>
        .bigger-text {
            font-size: 1.25rem;
        }

        .image-review {
            border-radius: 50%;
        }
    </style>
}

@{
    if (ViewBag.UpdateMessage != null)
    {
        var response = ViewBag.UpdateMessage;
        if (response.IsSuccess)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-check"></i> Alert!</h5>
                @response.Message
            </div>
        }
        else
        {
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                @response.Message
            </div>
        }
    }
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <div class="form-group group-container">
                                <label class="control-label required">Ảnh đại diện</label>
                                @*<div id="elfinder-background"></div>*@
                                <div class="position-relative d-flex" style="border-radius: 50%;">
                                    <input type="button"
                                           class="btn btn-elfinder w-100 h-100 position-absolute"
                                           data-imgthumbnailpath="#Avatar"
                                           data-imgpath="#Avatar">
                                    <div class="selectedImages" style="border-radius: 50%; height: 100% !important;">
                                        @{
                                            if (Model.Avatar == null)
                                            {
                                                <span>Ảnh đại diện</span>
                                            }
                                            else
                                            {
                                                <img class="image-review" src="@(Model.Avatar ?? "/Images/Avatar/default.png") "/>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <h3 class="profile-username text-center">Tên tài khoản: <span class="text-primary"> @(Model.Username ?? wasNullData)</span></h3>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Phân quyền: <span class="text-primary"> @(Model.RoleName ?? "Chưa phân quyền")</span></b>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#basic-information" data-toggle="tab">Thông tin cơ bản</a></li>
                            <li class="nav-item"><a class="nav-link" href="#authorize" data-toggle="tab">Phân quyền</a></li>
                            <li class="nav-item"><a class="nav-link" href="#update" data-toggle="tab">Chỉnh sửa</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="basic-information">
                                <div class="card-body p-0">
                                    <strong><i class="fas fa-book mr-1"></i> Họ tên</strong>
                                    <p class="text-muted bigger-text">
                                        @(Model.FullName ?? wasNullData)
                                    </p>
                                    <hr>
                                    <strong><i class="fas fa-envelope mr-1"></i> Email</strong>
                                    <p class="text-muted bigger-text">@(Model.Email ?? wasNullData)</p>
                                    <hr>
                                    <strong><i class="fas fa-phone mr-1"></i> Số điện thoại </strong>
                                    <p class="text-muted bigger-text">@(Model.PhoneNumber ?? wasNullData)</p>
                                    <hr>

                                    <strong><i class="fas fa-map-marker mr-1"></i> Địa chỉ</strong>
                                    <p class="text-muted bigger-text">@(Model.Address ?? wasNullData)</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="tab-pane" id="authorize">
                                <strong><i class="fas fa-key mr-1"></i> Phân quyền</strong>
                                <p class="text-muted bigger-text">@Model.RoleName</p>
                                <hr>
                            </div>
                            <div class="tab-pane" id="update">
                                <form class="form-horizontal" asp-area="Admin" asp-controller="Account" asp-action="MyProfile" method="post">
                                    <input asp-for="Avatar" hidden class="form-control">
                                    <div class="form-group row">
                                        <label asp-for="FullName" class="col-sm-2 col-form-label">Họ và tên</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" asp-for="FullName" placeholder="@(Model.FullName ?? "Họ và tên")">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" asp-for="Email" placeholder="@(Model.Email ?? "Email")" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="PhoneNumber" class="col-sm-2 col-form-label">Số điện thoại 1</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="@(Model.PhoneNumber ?? "Số điện thoại 1")">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label asp-for="Address" class="col-sm-2 col-form-label">Địa chỉ</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" asp-for="Address" placeholder="@(Model.Address ?? "Địa chỉ")">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">Lưu</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/theme.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="~/lib/elfinder/css/theme.min.css" />
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/elfinder/js/elfinder.min.js"></script>
    <script src="~/js/file-news-manager/products.js"></script>
}
