@model SystemEnvironment;

@{
	ViewData["Title"] = "Thông tin cửa hàng";
}

@section head {
	<link rel="stylesheet" href="~/lib/jqueryui/themes/base/theme.css" />
	<link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />
	<link rel="stylesheet" href="~/lib/elfinder/css/theme.min.css" />
	<link rel="stylesheet" href="~/lib/tagify/tagify.css" />
	<style>
		.tagify {
			height: 45px;
		}

		.tagify__tag {
			bottom: -2px;
			left: 3px;
		}
	</style>
}

<form asp-action="Update" autocomplete="off">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	@* --- Thông tin cơ bản ---*@
	<div class="form-group">
		<section class="content">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Thông tin cơ bản</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="@SystemEnvConst.LOGO" class="control-label">Ảnh logo</label>
						<div class="btn-group w-100" role="group">
							<input readonly id="@SystemEnvConst.LOGO"
								   name="@SystemEnvConst.LOGO"
								   class="form-control" value="@Model[SystemEnvConst.LOGO]"
								   placeholder="Ảnh logo..." />
							<input type="button" class="btn btn-secondary btn-elfinder"
								   data-imgthumbnailpath=""
								   data-imgpath="#Logo"
								   value="Chọn ảnh" />
						</div>
					</div>
					<div class="form-group">
						<label for="@SystemEnvConst.DEFAULT_IMAGE" class="control-label">Ảnh mặc định (dùng khi sản phẩm không có ảnh)</label>
						<div class="btn-group w-100" role="group">
							<input readonly id="@SystemEnvConst.DEFAULT_IMAGE"
								   name="@SystemEnvConst.DEFAULT_IMAGE"
								   class="form-control" value="@Model[SystemEnvConst.DEFAULT_IMAGE]"
								   placeholder="Ảnh mặc định..." />
							<input type="button" class="btn btn-secondary btn-elfinder"
								   data-imgthumbnailpath=""
								   data-imgpath="#DefaultImage"
								   value="Chọn ảnh" />
						</div>
					</div>
					<div class="form-group">
						<label for="@SystemEnvConst.ICON_IMAGEPATH" class="control-label">Icon mặc định (xuất hiện ở tab của trình duyệt)</label>
						<div class="btn-group w-100" role="group">
							<input readonly id="@SystemEnvConst.ICON_IMAGEPATH"
								   name="@SystemEnvConst.ICON_IMAGEPATH"
								   class="form-control" value="@Model[SystemEnvConst.ICON_IMAGEPATH]"
								   placeholder="Icon mặc định..." />
							<input type="button" class="btn btn-secondary btn-elfinder"
								   data-imgthumbnailpath=""
								   data-imgpath="#IconImagePath"
								   value="Chọn icon" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="@SystemEnvConst.FACEBOOK" class="control-label">@SystemEnvConst.FACEBOOK</label>
								<input id="@SystemEnvConst.FACEBOOK"
									   name="@SystemEnvConst.FACEBOOK"
									   placeholder="Liên kết đến Fanpage Facebook...."
									   class="form-control" value="@Model[SystemEnvConst.FACEBOOK]" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="@SystemEnvConst.ZALO" class="control-label">@SystemEnvConst.ZALO</label>
								<input id="@SystemEnvConst.ZALO"
									   placeholder="Zalo...."
									   name="@SystemEnvConst.ZALO"
									   class="form-control" value="@Model[SystemEnvConst.ZALO]" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="@SystemEnvConst.YOUTUBE" class="control-label">@SystemEnvConst.YOUTUBE</label>
						<input id="@SystemEnvConst.YOUTUBE"
							   placeholder="Liên kết đến kênh Youtube...."
							   name="@SystemEnvConst.YOUTUBE" class="form-control" value="@Model[SystemEnvConst.YOUTUBE]" />
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="@SystemEnvConst.PRIMARY_PHONE" class="control-label">Số điện thoại 1</label>
								<input id="@SystemEnvConst.PRIMARY_PHONE"
									   placeholder="Số điện thoại 1...."
									   name="@SystemEnvConst.PRIMARY_PHONE" class="form-control" value="@Model[SystemEnvConst.PRIMARY_PHONE]" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="@SystemEnvConst.SECONDARY_PHONE" class="control-label">Số điện thoại 2</label>
								<input id="@SystemEnvConst.SECONDARY_PHONE"
									   placeholder="Số điện thoại 2...."
									   name="@SystemEnvConst.SECONDARY_PHONE" class="form-control" value="@Model[SystemEnvConst.SECONDARY_PHONE]" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="@SystemEnvConst.BRAND_NAME" class="control-label">Tên cửa hàng</label>
								<input id="@SystemEnvConst.BRAND_NAME"
									   placeholder="Tên cửa hàng...."
									   name="@SystemEnvConst.BRAND_NAME" class="form-control" value="@Model[SystemEnvConst.BRAND_NAME]" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="@SystemEnvConst.TAX_CODE" class="control-label">Mã số thuế</label>
								<input id="@SystemEnvConst.TAX_CODE"
									   name="@SystemEnvConst.TAX_CODE"
									   placeholder="Mã số thuế..."
									   class="form-control" value="@Model[SystemEnvConst.TAX_CODE]" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="@SystemEnvConst.BRAND_ADDRESS" class="control-label">Địa chỉ cửa hàng</label>
						<textarea rows="3"
								  id="@SystemEnvConst.BRAND_ADDRESS"
								  placeholder="Địa chỉ cửa hàng..."
								  name="@SystemEnvConst.BRAND_ADDRESS" class="form-control"
								  value="@Model[SystemEnvConst.BRAND_ADDRESS]">@Model[SystemEnvConst.BRAND_ADDRESS]</textarea>
					</div>
				</div>
			</div>
		</section>
	</div>
	@* --- Thông tin mail --- *@
	<div class="form-group">
		<section class="content">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Thông tin mail</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="@SystemEnvConst.ADMIN_RECIVER_MAIL" class="control-label">Mail cửa hàng</label>
						<input id="@SystemEnvConst.ADMIN_RECIVER_MAIL"
							   placeholder="Mail cửa hàng..."
							   name="@SystemEnvConst.ADMIN_RECIVER_MAIL"
							   class="form-control" value="@Model[SystemEnvConst.ADMIN_RECIVER_MAIL]" />
					</div>
					<div class="form-group">
						<label for="@SystemEnvConst.EMAIL_FOR_ORDER_INFORMATION" class="control-label">Mail nhận thông tin đơn hàng</label>
						<input id="@SystemEnvConst.EMAIL_FOR_ORDER_INFORMATION"
							   placeholder="Mail nhận thông tin đơn hàng ..."
							   name="@SystemEnvConst.EMAIL_FOR_ORDER_INFORMATION"
							   class="form-control" value="@Model[SystemEnvConst.EMAIL_FOR_ORDER_INFORMATION]" />
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="@SystemEnvConst.PRIMARY_MAIL" class="control-label">Mail của bộ phận IT (chính)</label>
								<input id="@SystemEnvConst.PRIMARY_MAIL"
									   placeholder="Mail nhận thông tin khi có sự cố"
									   name="@SystemEnvConst.PRIMARY_MAIL"
									   class="form-control" value="@Model[SystemEnvConst.PRIMARY_MAIL]" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="@SystemEnvConst.SECONDARY_MAIL" class="control-label">Mail của bộ phận IT (phụ)</label>
								<input id="@SystemEnvConst.SECONDARY_MAIL"
									   placeholder="Mail nhận thông tin khi có sự cố"
									   name="@SystemEnvConst.SECONDARY_MAIL"
									   class="form-control" value="@Model[SystemEnvConst.SECONDARY_MAIL]" />
							</div>
						</div>
					</div>
				</div>
		</section>
	</div>
	@* --- Embedded --- *@
	<div class="form-group">
		<section class="content">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Mã nhúng</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="@SystemEnvConst.MESSENGER_EMBEDDED_CODE" class="control-label">Mã nhúng chức năng chat qua Fanpage của Facebook</label>
						<textarea id="@SystemEnvConst.MESSENGER_EMBEDDED_CODE"
								  placeholder="Mã nhúng chức năng chat qua Fanpage của Facebook"
								  rows="10"
								  name="@SystemEnvConst.MESSENGER_EMBEDDED_CODE"
								  class="form-control" value="@Model[SystemEnvConst.MESSENGER_EMBEDDED_CODE]">@Model[SystemEnvConst.MESSENGER_EMBEDDED_CODE]</textarea>
						<div class="mt-2">
							<i>
								*Lưu ý: Vào đường dẫn này để lấy mã nhúng
								<span class="text-primary" style="cursor:pointer;">
									<a href="https://business.facebook.com/latest/inbox/settings/chat_plugin" target="_blank"> https://business.facebook.com/latest/inbox/settings/chat_plugin</a>
								</span>
							</i>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	@* --- SEO ---*@
	<div class="form-group">
		<section class="content">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">SEO (dùng chung)</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">@SystemEnvConst.SEO_TITLE</label>
								<input id="@SystemEnvConst.SEO_TITLE"
									   value="@Model[SystemEnvConst.SEO_TITLE]"
									   name="@SystemEnvConst.SEO_TITLE" placeholder="Tiêu đề..." class="form-control" />
							</div>
							<div class="form-group">
								<label class="control-label">@SystemEnvConst.SEO_DESCRIPTION</label>
								<input id="@SystemEnvConst.SEO_DESCRIPTION"
									   value="@Model[SystemEnvConst.SEO_DESCRIPTION]"
									   name="@SystemEnvConst.SEO_DESCRIPTION" placeholder="Mô tả..." class="form-control" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">@SystemEnvConst.SEO_KEYWORD</label>
								<input id="@SystemEnvConst.SEO_KEYWORD"
									   value="@Model[SystemEnvConst.SEO_KEYWORD]"
									   name="@SystemEnvConst.SEO_KEYWORD" placeholder="Từ khóa..." class="form-control" />
							</div>
							<div class="form-group">
								<label class="control-label">@SystemEnvConst.SEO_IMAGEPATH</label>
								<div class="btn-group w-100" role="group">
									<input id="@SystemEnvConst.SEO_IMAGEPATH"
										   value="@Model[SystemEnvConst.SEO_IMAGEPATH]"
										   name="@SystemEnvConst.SEO_IMAGEPATH" placeholder="Hình ảnh...."
										   readonly class="form-control" />
									<input type="button" class="btn btn-secondary btn-elfinder"
										   data-imgthumbnailpath=""
										   data-imgpath="#SEOImagePath"
										   value="Chọn ảnh" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	@if (User.IsInPermission(AuthConst.SystemEnv.UPDATE))
	{
		<div class="form-group">
			<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
			<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Nhập lại</button>
		</div>
	}
</form>

@section scripts {
	<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
	<script src="~/lib/elfinder/js/elfinder.min.js"></script>
	<script src="~/js/elfinder/common_elfinder.js" asp-append-version="true"></script>
	<script src="~/lib/tagify/tagify.js"></script>
	<script src="~/lib/tagify/tagify.polyfills.min.js"></script>
	<script>
		var input = document.querySelector('input[name=EmailForOrderInformation]');
		new Tagify(input)
		var tagStr = $("#EmailForOrderInformation").tagify('serialize');
	</script>
}