@model IEnumerable<App.Web.Areas.Admin.ViewModels.ProductCategory.ListItemProductCategoryVM>

<div class="col-md-12">
	<div class="row text-center text-bold" data-header-flg="1" style="border-bottom: 1px solid #bebcbc;padding: 15px 0px;">
		<div class="col-md-1">#</div>
		<div class="col-md-4">Tên danh mục</div>
		<div class="col-md-2">Hình</div>
		<div class="col-md-2">Cấp danh mục</div>
		<div class="col-md-2">Chức năng</div>
	</div>
	@{
		var index = 1;
	}
	@foreach (var item in Model)
	{
		<div class="js-row" data-id="@item.Id">
			<div class="row mt-2 mb-2 align-items-center text-center cate-product-update-order"
				 data-toggle="collapse" data-target="#collapseExample-@item.Id"
				 aria-expanded="false"
				 style="border-bottom: 1px solid #bebcbc; padding: 6px 0px;"
				 aria-controls="collapseExample1"
				 data-cate-displayorder="@item.DisplayOrder">
				<div class="col-md-1 js-index">
					@(index++)
				</div>
				<div class="col-md-4">
					@item.Name
				</div>
				<div class="col-md-2">
					@{
						if (!item.CoverImgPath.IsNullOrEmpty())
						{
							<img src="@item.CoverImgPath" class="item-news-image" />
						}
						else
						{
							<img src="~/files/logo.png" style=" width: 50px;height: 50px;object-fit: cover;" />
						}
					}
				</div>
				<div class="col-md-2">
					@item.CateLevel
				</div>
				<div class="col-md-2">
					@if (User.IsInPermission(AuthConst.AppProductCategory.UPDATE))
					{
						@*<div class="btn-group">
								<button class="btn btn-outline-secondary btn-sm w-auto js-btn-reorder" title="Lên" data-type="up">
									<i class="fas fa-arrow-up"></i>
								</button>
								<button class="btn btn-outline-secondary btn-sm w-auto js-btn-reorder" title="Xuống" data-type="down">
									<i class="fas fa-arrow-down"></i>
								</button>
							</div>*@
						<a asp-action="Update" asp-route-id="@item.Id"
						   class="btn btn-outline-secondary btn-sm"><i class="fas fa-pen"></i></a>
					}
					@if (User.IsInPermission(AuthConst.AppProductCategory.DELETE))
					{
						<a asp-action="Delete" asp-route-id="@item.Id"
						   class="btn btn-outline-danger btn-sm js-delete-confirm"
						   data-msg="Xác nhận xóa danh mục [@item.Name]?">
							<i class="fas fa-trash"></i>
						</a>
					}
				</div>
			</div>
			@if (item.HasChild)
			{
				var rowindex = 1;
				@if (item.ChildCategories.Count() > 0)
				{
					<div class="collapse" id="collapseExample-@item.Id">
						<div style="margin: 0px 0px 0px 50px;">
							@foreach (var item1 in item.ChildCategories)
							{
								@if (item1.DeletedDate == null)
								{
									<div class="row mt-2 align-items-center text-center"
										 data-toggle="collapse" data-target="#collapseExample-@item1.Id"
										 aria-expanded="false"
										 style="border-bottom: 1px solid #bebcbc; border-left: 1px solid #bebcbc; padding: 6px 0px; margin-left: 0px;"
										 aria-controls="collapseExample1">
										<div class="col-md-1">
											@(rowindex++)
										</div>
										<div class="col-md-5">
											@item1.Name    <small>(@item1.AppProducts.Where(s => s.DeletedDate == null).ToList().Count())</small>
										</div>
										<div class="col-md-2">
											@{
												if (item1.CoverImgPath != null)
												{
													<img src="@item1.CoverImgPath" class="item-news-image" />
												}
												else
												{
													<img src="~/files/logo.png" style=" width: 50px;height: 50px;object-fit: cover;" />
												}
											}
										</div>
										<div class="col-md-2">
											@item1.CateLevel
										</div>
										<div class="col-md-2">
											@if (User.IsInPermission(AuthConst.AppProductCategory.UPDATE))
											{
												<a asp-action="Update" asp-route-id="@item1.Id"
												   class="btn btn-outline-secondary btn-sm"><i class="fas fa-pen"></i></a>
											}
											@if (User.IsInPermission(AuthConst.AppProductCategory.DELETE))
											{
												<a asp-action="Delete" asp-route-id="@item1.Id"
												   class="btn btn-outline-danger btn-sm js-delete-confirm"
												   data-msg="Xác nhận xóa danh mục [@item1.Name]?">
													<i class="fas fa-trash"></i>
												</a>
											}
										</div>
									</div>
									@if (item1.HasChild)
									{
										var rowindex2 = 1;
										@if (item1.ChildCategories.Count() > 0)
										{
											<div class="collapse" id="collapseExample-@item1.Id">
												<div style="margin: 0px 0px 0px 50px;">
													@foreach (var item2 in item1.ChildCategories)
													{
														@if (item2.DeletedDate == null)
														{
															<div class="row mt-2 align-items-center text-center"
																 data-toggle="collapse" data-target="#collapseExample-@item2.Id"
																 aria-expanded="false"
																 style="border-bottom: 1px solid #bebcbc; border-left: 1px solid #bebcbc; padding: 6px 0px; margin-left: 0px;"
																 aria-controls="collapseExample1">
																<div class="col-md-1">
																	@(rowindex2++)
																</div>
																<div class="col-md-5">
																	@item2.Name    <small>(@item2.AppProducts.Where(s => s.DeletedDate == null).ToList().Count())</small>
																</div>
																<div class="col-md-2">
																	@{
																		if (item1.CoverImgPath != null)
																		{
																			<img src="@item2.CoverImgPath" class="item-news-image" />
																		}
																		else
																		{
																			<img src="~/files/logo.png" style=" width: 50px;height: 50px;object-fit: cover;" />
																		}
																	}
																</div>
																<div class="col-md-2">
																	@item2.CateLevel
																</div>
																<div class="col-md-2">
																	@if (User.IsInPermission(AuthConst.AppProductCategory.UPDATE))
																	{
																		<a asp-action="Update" asp-route-id="@item2.Id"
																		   class="btn btn-outline-secondary btn-sm"><i class="fas fa-pen"></i></a>
																	}
																	@if (User.IsInPermission(AuthConst.AppProductCategory.DELETE))
																	{
																		<a asp-action="Delete" asp-route-id="@item2.Id"
																		   class="btn btn-outline-danger btn-sm js-delete-confirm"
																		   data-msg="Xác nhận xóa danh mục [@item2.Name]?">
																			<i class="fas fa-trash"></i>
																		</a>
																	}
																</div>
															</div>
														}
													}
												</div>
											</div>
										}
									}
								}
							}
						</div>
					</div>
				}
			}
		</div>
	}
	<div class="row" data-end-flg="1"></div>
</div>