@model IEnumerable<App.Web.ViewModels.AppDiscountCode.AppDiscountCodeListItemVM>

<div class="section_coupons">
	<div class="container card border-0 background-f5f5f5">
		<div class="row scroll justify-content-xl-center">
			@if (Model.Count() > 0)
			{
				foreach (var item in Model)
				{
					<div class=" py-2 col-lg-3 col-md-3 col-sm-10 col-xs-10 col-lg">
						<div class="coupon_item">
							<div class="coupon_body">
								<div class="coupon_head">
									<h3 class="coupon_title">NHẬP MÃ: @item.Code</h3>
									<div class="coupon_desc">Mã giảm @item.DiscountPrice?.ToString("#,0") cho đơn hàng tối thiểu @item.MinDiscountPrice?.ToString("#,0")</div>
								</div>
								<div class="d-flex align-items-center flex-wrap justify-content-between">
									<button class="btn btn-main btn-sm  coupon_copy" data-ega-coupon="@item.Code">
										<span>Sao chép mã</span>
									</button>
									<span class="coupon_info_toggle" data-coupon="@item.Code">
										Điều kiện
									</span>
									<div class="coupon_info">
										- Mã giảm @item.DiscountPrice?.ToString("#,0") cho đơn tối thiểu @item.MinDiscountPrice?.ToString("#,0").
										<br>@if (item.UnApplyCategoryId != null)
										{
											<span>- Mã khuyễn mãi không áp dụng với các sản phẩm [@item.GroupNameCategory].</span>
										}
										else
										{
											<span>- Mã khuyến mãi áp dụng cho tất cả sản phẩm</span>
										}
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>

<script type="text/x-custom-template" data-template="couponPopup">
	<div id="coupon-modal" class="coupon-modal modal fade " role="dialog" style="display:none;">
		<div class="modal-dialog align-vertical">
		<div class="modal-content">
			<button type="button" class="close window-close" data-dismiss="modal" data-backdrop="false"
			aria-label="Close" style="z-index: 9;"><span aria-hidden="true">×</span></button>
			<div class="coupon-content"></div>
		</div>
		</div>
	</div>
</script>
<script>
	$(document).ready(() => {
		let initCoupon = false
		function initCoupons() {
			if (initCoupon) return
			initCoupon = true
			if (!$('#coupon-modal').length) {
				$('body').append($('[data-template="couponPopup"]').html())
			}
			$('.coupon_info_toggle').click(function (e) {
				e.preventDefault();
				const code = $(this).data('coupon')
				const info = $(this).next('.coupon_info').html() || ''
				const title = $(this).parents('.coupon_body').find('.coupon_title').text() || ''
				const couponHtml = `
					<div class="coupon-title">${title}</div>
					<div class="coupon-row">
						<div class="coupon-label">Mã khuyến mãi:</div><span class="code">${code}</span>

					</div>
					<div class="coupon-row">
						<div class="coupon-label">Điều kiện:</div><div class="coupon-info">${info}</div>
					</div>
					<div class="coupon-action">
					<button type="button" class="btn btn-main" data-dismiss="modal" data-backdrop="false"
						aria-label="Close" style="z-index: 9;">Đóng</button>
					<button class="btn btn-main coupon_copy" data-ega-coupon="${code}">
						<span>Sao chép mã</span></button>
					</div>
					`
				$('.coupon-modal .coupon-content').html(couponHtml)
				$("#coupon-modal").modal();
			})
			$(document).on('click', '.coupon_copy', function () {

				const copyText = "Sao chép mã";
				const copiedText = "Đã sao chép";
				const coupon = $(this).data().egaCoupon;
				const _this = $(this);
				_this.html(`<span>${copiedText}</span>`);
				_this.addClass('disabled');
				setTimeout(function () {
					_this.html(`<span>${copyText}</span>`);
					_this.removeClass('disabled');
				}, 3000)
				navigator.clipboard.writeText(coupon);
			})

		}
		$(window).one(' mousemove touchstart scroll', initCoupons)

	})
</script>
