@model IEnumerable<App.Web.ViewModels.Product.ProductListVM>
@inject SystemEnvironment sysEnv

@if (Model.Count() > 0)
{
	<div class="indoor-plant-area mb-30 mg-mb-10">
		<div class="container">
			<div class="row">
				<!--Section Title Start-->
				<div class="col-12">
					<div class="section-title text-center mb-20" title="ONE PIECE">
						<h2>
							<a asp-controller="Product" asp-action="ProductOnePiece">
								ONE PIECE
							</a>
						</h2>
					</div>
				</div>
			</div>
			<div class="indor-plant-product">
				<div class="row">
					<div class="indoor-product-active">
						@foreach (var item in Model)
						{
							if (!item.ProductName.IsNullOrEmpty())
							{
								<!--Single Product Start-->
								<div class="col-xs-6 col-sm-6 col-md-3">
									<div class="single-product mb-20" data-color="27086031">
										<div class="product-img img-full ">
											<a asp-controller="Product" asp-action="ProductDetail" 
											   asp-route-slug="@item.Slug" asp-route-id="@item.Id"
											   title="@item.ProductName">
												<ul class="onsale-fix">
													@if (!item.TagProduct.IsNullOrEmpty())
													{
														@foreach (var item2 in item.TagProduct.ReplaceTagInput().Split(","))
														{
															<li>@item2.Trim()</li>
														}
													}
												</ul>
												@if (!item.ImagePath.IsNullOrEmpty())
												{
													<img class="lazyload"
														 src="@item.ImagePath"
														 data-src="@item.ImagePath"
														 alt="@item.ProductName">
												}
												else
												{
													<img class="lazyload"
														 src="@sysEnv[SystemEnvConst.DEFAULT_IMAGE]"
														 data-src="@sysEnv[SystemEnvConst.DEFAULT_IMAGE]"
														 alt="@item.ProductName">
												}
											</a>
										</div>
										<div class="product-content">
											<h3>
												<a asp-controller="Product" asp-action="ProductDetail" 
												   asp-route-slug="@item.Slug" asp-route-id="@item.Id"
												   title="@item.ProductName">
													@item.ProductName
												</a>
											</h3>
											<div class="product-price">
												<div class="price-box">
													@if (item.IsDiscountProduct)
													{
														<span class="regular-price fix-regular-price">@item.DiscountPrice?.ToString("#,0đ")</span>
														<span class="price ml5">@item.Price.ToString("#,0đ")</span>
													}
													else
													{
														<span class="regular-price">@item.Price.ToString("#,0đ")</span>
													}
												</div>
											</div>
										</div>
										<div class="product-box-color">
											<div class="color-value">
												<script>
													jQuery(document).ready(function ($) {
														$('.single-product .swatch-element').hover(function (e) {
															var img = $(this).attr('data-image');
															$(this).parents('.single-product').find('.product-img a img').attr('src', img);
														});
														$('.swatch-list').not('.slick-initialized').slick({
															infinite: false,
															slidesToShow: 4,
															slidesToScroll: 1
														});
													});
												</script>
											</div>
										</div>
									</div>
								</div>
								<!--Single Product End-->
							}
						}
					</div>
				</div>
			</div>
			<div class="view-all-product text-center">
				<a asp-controller="Product" asp-action="ProductOnePiece" class="btnx">
					<span class="btn-content">Xem tất cả</span>
				</a>
			</div>
		</div>
	</div>
}