@using App.Web.ViewModels.Cart
@model IEnumerable<App.Web.ViewModels.Cart.CartItemVM>
@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal total = 0.0m;
}

<div class="bg-sg"></div>
<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="center-1">
            <div class="breadcrumb">
                <ul>
                    <li><a>Trang chủ</a></li>
                    <li><span>›</span> <a>Giỏ hàng</a></li>
                </ul>
            </div>
            <div class="page shopping-cart-page">
                <div class="page-body">
                    <div class="order-summary-content container">
                        <form method="post" id="shopping-cart-form" asp-action="Order">
                            <div class="shopping-cart-info">
                                <div class="cart-detail">
                                    <div class="table-wrapper">
                                        @if(Model.Count() > 0)
                                        {
                                            <table class="cart">
                                                <colgroup>
                                                    <col width="1"/>
                                                    <col />
                                                    <col width="1"/>
                                                    <col width="1"/>
                                                    <col width="1"/>
                                                    <col width="1" />
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th class="product-picture">Hình ảnh </th>
                                                        <th class="product">Tên sản phẩm </th>
                                                        <th class="unit-price">Giá bán </th>
                                                        <th class=quantity>Số lượng </th>
                                                        <th class=subtotal>Toàn bộ </th>
                                                        <th class=remove-from-cart> </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="cart-body">
                                                    <!--SẢN PHẨM TRONG GIỎ HÀNG-->
                                                    @foreach(var item in Model)
                                                    {
                                                        var price = item.FinalPrice;
                                                        total += price * item.Quantity;
                                                        <tr class="append-item" data-id="">
                                                            @* img *@
                                                            <td class="product-picture">
                                                                <a>
                                                                    <img src="@item.ImagePath" alt="@item.ProductName" style="width: 80px;height: auto"/>
                                                                </a>
                                                            </td>
                                                            @* name *@
                                                            <td class="product">
                                                                <a class="product-name">
                                                                    @item.ProductName
                                                                </a>
                                                                <div class="edit-item">
                                                                    <a asp-action="ProdcutDetail" asp-controller="Prodcut" asp-route-id="">Sửa</a>
                                                                </div>
                                                                <div class="edit-item">
                                                                   Màu: @item.ColorName
                                                                </div>
                                                            </td>
                                                            @* price *@
                                                            <td class="unit-price">
                                                                <label class="td-title">Giá bán:</label>
                                                                <span class="product-unit-price cart-price" data-price="@price">@price.ToString("#, 0")</span>
                                                            </td>
                                                            @* quantity *@
                                                            <td class="quantity cart-quantity">
                                                                <div class="cart-quantity-input-container">
                                                                    <svg id="cart-quantity-input-subtract260415" width="11" height="11" viewBox="0 0 11 11" fill="none"
                                                                         onclick="removeFromCart(@item.ProductId, @item.Id); updateInput(event, @item.ProductId, @item.Id);">
                                                                        <path d="M-0.00390625 5.90234H11.0039C11.1133 5.90234 11.207 5.86328 11.2852 5.78516C11.3633 5.70182 11.4023 5.60547 11.4023 5.49609C11.4023 5.38672 11.3633 5.29297 11.2852 5.21484C11.207 5.13672 11.1133 5.09766 11.0039 5.09766H-0.00390625C-0.0768229 5.09766 -0.144531 5.11589 -0.207031 5.15234C-0.264323 5.1888 -0.311198 5.23828 -0.347656 5.30078C-0.384115 5.35807 -0.402344 5.42318 -0.402344 5.49609C-0.402344 5.57422 -0.384115 5.64453 -0.347656 5.70703C-0.311198 5.76432 -0.264323 5.8112 -0.207031 5.84766C-0.144531 5.88411 -0.0768229 5.90234 -0.00390625 5.90234Z" fill="#0066CC">
                                                                        </path>
                                                                    </svg>

                                                                    <input type="text" value="@item.Quantity"
                                                                           aria-label="quantity" class="qty-input input-quantity" readonly />

                                                                    <svg id="cart-quantity-input-add264709" width="12" height="13" viewBox="0 0 12 13" fill="none"
                                                                         onclick="addToCart(@item.ProductId ,@item.Id);updateInput(event, @item.ProductId, @item.Id);">
                                                                        <path d="M-0.304688 6.5C-0.304688 6.61458 -0.265625 6.71094 -0.1875 6.78906C-0.104167 6.86719 -0.0104167 6.90625 0.09375 6.90625H5.19531V12.0078C5.19531 12.1172 5.23438 12.2109 5.3125 12.2891C5.39583 12.3672 5.49219 12.4062 5.60156 12.4062C5.71094 12.4062 5.80469 12.3672 5.88281 12.2891C5.96094 12.2109 6 12.1172 6 12.0078V6.90625H11.1016C11.2109 6.90625 11.3047 6.86719 11.3828 6.78906C11.4609 6.71094 11.5 6.61458 11.5 6.5C11.5 6.39062 11.4609 6.29688 11.3828 6.21875C11.3047 6.14062 11.2109 6.10156 11.1016 6.10156H6V1C6 0.890625 5.96094 0.796875 5.88281 0.71875C5.80469 0.635417 5.71094 0.59375 5.60156 0.59375C5.49219 0.59375 5.39583 0.635417 5.3125 0.71875C5.23438 0.796875 5.19531 0.890625 5.19531 1V6.10156H0.09375C-0.0104167 6.10156 -0.104167 6.14062 -0.1875 6.21875C-0.265625 6.29688 -0.304688 6.39062 -0.304688 6.5Z" fill="#0066CC">
                                                                        </path>
                                                                    </svg>
                                                                </div>
                                                            </td>
                                                            <td class="remove-from-cart">
                                                                <button type="button" class="remove-btn once-submit-button" onclick="deleteProductFromCart(event, @item.ProductId, @item.Id)"></button>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <h2 style="text-align:center" class="cart-empty">Giỏ hàng đang rỗng !</h2>
                                        }
                                    </div>
                                    <div class="cart-options">
                                        <div class="common-buttons">
                                            <a asp-action="Index" asp-controller="Home"       
                                                    class="button-2 continue-shopping-button once-submit-button">
                                                Tiếp tục mua sắm
                                            </a>
                                        </div>
                                        <div class="selected-checkout-attributes"></div>
                                    </div>
                                </div>

                                <!-- phụ kiện đi kèm -->

                                <!--End phụ kiện đi kèm-->
                                <div class="title_checkout_billing">Thông tin thanh toán</div>
                                @if (!Context.User.Identity.IsAuthenticated)
                                {
                                    <div class="content-notlogin">
                                        <p>Đăng nhập ngay để thực hiện thanh toán</p>
                                        <a asp-action="Login" asp-controller="Account" style="color: white;">Đăng nhập ngay</a>
                                    </div>
                                }

                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    @if(Model.Count() > 0)
                                    {
                                        var cusData = ViewBag.CusData as OrderDataVM;
                                        <partial name="_OrderData" model="cusData"/>
                                    }
                                }

                            </div>
                            <!--total and page-->
                            <div class="row">
                                <div class="cart-footer col-sm-12 col-lg-6">
                                    <div class=sidebar-cart>
                                        <div class=cart-collaterals>
                                            <form asp-action="">
                                                <div class="deals">
                                                    <div class="coupon-box">
                                                        <div class="title">
                                                            <strong>Mã giảm giá</strong>
                                                        </div>
                                                    </div>
                                                    <div class="coupon-code">
                                                        <input placeholder="Mã giảm giá" type="text" class="discount-coupon-code" style="border-radius: 8px 0 0 8px;">
                                                        <a class="button-2 apply-discount-coupon-code-button voucher">
                                                            Áp dụng
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                            <p class="text-error-voucher" style="color: #e4434b; float:left; padding: 5px 0px 0px 15px"></p>
                                        </div>
                                    </div>
                                    <div class="totals">
                                        <div class="total-info">
                                            <table class="cart-total">
                                                <tbody>
                                                    <tr class="order-subtotal">
                                                        <td class="cart-total-left">
                                                            <label>
                                                                Tổng phụ:
                                                            </label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary total-price">@total.ToString("#,0")đ</span>
                                                        </td>
                                                    </tr>
                                                    <tr class="dis-voucher d-none">
                                                        <td class="cart-total-left">
                                                        <label>
                                                            Voucher:
                                                        </label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="price-voucher" style="color: red; font-weight: "></span>
                                                        </td>
                                                    </tr>
                                                    <tr class="order-total">
                                                        <td class="cart-total-left">
                                                            <label>
                                                                Tổng cộng:
                                                            </label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span class="value-summary new">@total.ToString("#,0")đ</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="terms-of-service-warning-box" title="Điều khoản dịch vụ"
                                                style=display:none> 
                                            <p>
                                                Vui lòng chấp nhận các điều khoản dịch vụ trước bước tiếp
                                                theo.
                                            </p>
                                        </div>

                                        <div class=terms-of-service>
                                            <div class=d-flex>
                                                <div>
                                                    <input id="dong-y" type=checkbox />
                                                </div>
                                                <label>
                                                    <span class="rule-web">Tôi đã đọc và đồng ý với điều khoản và điều kiện</span>
                                                    <span class="rule-web">của website</span>
                                                </label>
                                            </div>
                                        </div>
                                        @if (Context.User.Identity.IsAuthenticated)
                                        {
                                            <div class="checkout-buttons">
                                                <button type="button" id="btnSubmitCart"
                                                        class="button-1 checkout-button">
                                                        Tiến hành đặt hàng
                                                </button>
                                            </div>
                                            <div class="note-ck">
                                                (*) Phí phụ thu sẽ được tính khi bạn tiến
                                                hành thanh toán.
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src=https://campaign.tsminifier.net/v2/opt/seo/index.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $(".all_cross-sells.cart_detail .item-grid").slick({
                slidesToShow: 4,
                slidesToScroll: 4, 
                infinite: !1,
                responsive: [
                    {
                        breakpoint: 1920,
                        settings: {
                            slidesToShow: 4, slidesToScroll: 4
                        }
                    },
                    {
                        breakpoint: 1e3,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 769,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    }
                ]
            })
        })
    </script>

   <script type="text/javascript">
        $("#btnSubmitCart").click(function (ev) {
            var form = $(ev.currentTarget).closest("form");
            if (!$("#dong-y").is(":checked")) {
                notyf.error("Bạn chưa đồng ý với điều khoản & chính sách sử dụng");
                return ;
            }
            if ($("#CusName").val() == null || $("#CusPhone").val() == null
                || $("#CusEmail").val() == null || $("#DeliveryAddress").val() == null) {
                notyf.error("Vui lòng điền đầy đủ thông tin giao hàng");
                return;
            }
            form.submit();
        });
   </script>
} 
