@using App.Share.Extensions
@using App.Web.ViewModels.Product
@{
    ViewData["Title"] = "Trang chủ";
}
@section head {
    <link href="~/ClientTLE/css/style.css" rel="stylesheet" />
}
<div class=bg-sg></div>
<div class=master-wrapper-content>
    <div class=master-column-wrapper>
        <div class=center-1>
            <div class="page home-page">
                <div class=page-body>
                    @await Component.InvokeAsync("Slider")
                    <div class="content_home-page">
                        <div class=topic-block>
                            <div class=topic-block-body>
                                <div class="Topic_Block_content splide">
                                    <div id=splide-track class=splide__track>
                                        <div class=splide__list>
                                            <a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item
                                                     style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/B Trần.png"
                                                     alt="" height=166>
                                            </a>
                                            <a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Bình An _ Phương Nga.png"
                                                     alt="" height=166>
                                            </a>
                                            <a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Duydam.png"
                                                     alt="" height=166>
                                            </a>
                                            <a class="item_ss_top splide__slide"
                                               target=_blank
                                               rel=noopener>
                                                <img class=Topic_Block_item
                                                     style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/HUyền Lizze _ Quỳnh Koool.png"
                                                     alt="" height=166>
                                            </a>
                                            <a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Huỳnh Anh.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Hà Việt Dũng.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    target=_blank
                                                    rel=noopener>
                                                <img class=Topic_Block_item
                                                     style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Hồng Diễm.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Lâm Đức Anh.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Lê Bống.png"
                                                     alt="" height=166>
                                            </a><a class="item_ss_top splide__slide"
                                                   target=_blank
                                                   rel=noopener>
                                                <img class=Topic_Block_item
                                                     style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Mạnh Trường.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Quang Thắng.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Thu Mít.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide"
                                                    target=_blank
                                                    rel=noopener>
                                                <img class=Topic_Block_item
                                                     style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Trung Anh.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Trung Ruồi.png"
                                                     alt="" height=166>
                                            </a> <a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/VIệt Anh.png"
                                                     alt="" height=166>
                                            </a><a class="item_ss_top splide__slide">
                                                <img class=Topic_Block_item style=object-fit:cover;width:100%
                                                     src="~/ClientTLE/images/uploaded/banner/bonus banner/xx1/Đình Tú.png"
                                                     alt="" height=166>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home-page-category-list">
                            <div class="item-list">

                                @if (ViewBag.iphoneCount > 0 && ViewBag.iphone != null)
                                                    {
                                    <div class="item-box-list">
                                        <div class="category-item">
                                            <h2 class="title">
                                                <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="1">IPhone </a>
                                            </h2>
                                            <div class="page category-page">
                                                <div class="page-body">
                                                    <div class="product-grid featured-product-grid">
                                                        <div class="item-grid">
                                                            @foreach (var item in ViewBag.iphone)
                                                            {
                                                                <div class="item-box">
                                                                    <div class="product-item">
                                                                        <div class="product_tag">
                                                                            <img src="~/ClientTLE/images/uploaded/icon/vnpay500k.png"
                                                                                 alt="">
                                                                        </div>
                                                                        <div class="picture">
                                                                            <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.id"
                                                                               title="Hiển thị chi tiết cho iPad mini 6">
                                                                                <img alt="Ảnh của iPad mini 6"
                                                                                     src="@item.ImagePath"
                                                                                     title="Hiển thị chi tiết cho iPad mini 6">
                                                                            </a>
                                                                        </div>
                                                                        <div class="details">
                                                                            <h3 class=product-title>
                                                                                <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.id">
                                                                                    @item.ProductName
                                                                                </a>
                                                                            </h3>
                                                                            <div class=add-info>
                                                                                <div class=prices>
                                                                                    @if (item.DiscountPrice == null)
                                                                                    {
                                                                                        <div class="price old-price"></div>
                                                                                        <span class="price actual-price">@item.Price.ToString("#,##0")</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <div class="price old-price">@item.Price.ToString("#,##0")</div>
                                                                                        <span class="price actual-price">@item.DiscountPrice?.ToString("#,##0")</span>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class=products-container>
                                                        <div class=ajax-products-busy></div>
                                                        <div class=products-wrapper></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="show-all">
                                        <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="1">
                                            Xem tất cả iPhone
                                            <i class="fa-regular fa-chevron-right"></i>
                                        </a>
                                    </div>
                                }

                                @* ipad *@
                                @if (ViewBag.ipadCount > 0 &&  ViewBag.ipad != null)
                                {
                                    <div class="item-box-list">
                                        <div class="category-item">
                                            <h2 class="title">
                                                <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="1">IPad </a>
                                            </h2>
                                            <div class="page category-page">
                                                <div class="page-body">
                                                    <div class="product-grid featured-product-grid">
                                                        <div class="item-grid">
                                                            @foreach (var item in ViewBag.ipad)
                                                            {
                                                                <div class="item-box">
                                                                    <div class="product-item">
                                                                        <div class="product_tag">
                                                                            <img src="~/ClientTLE/images/uploaded/icon/vnpay500k.png"
                                                                                 alt="">
                                                                        </div>
                                                                        <div class="picture">
                                                                            <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.id"
                                                                               title="Hiển thị chi tiết cho iPad mini 6">
                                                                                <img alt="Ảnh của iPad mini 6"
                                                                                     src="@item.ImagePath"
                                                                                     title="Hiển thị chi tiết cho iPad mini 6">
                                                                            </a>
                                                                        </div>
                                                                        <div class="details">
                                                                            <h3 class=product-title>
                                                                                <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.id">
                                                                                    @item.ProductName
                                                                                </a>
                                                                            </h3>
                                                                            <div class=add-info>
                                                                                <div class=prices>
                                                                                    @if (item.DiscountPrice == null)
                                                                                    {
                                                                                        <div class="price old-price"></div>
                                                                                        <span class="price actual-price">@item.Price.ToString("#,##0")</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <div class="price old-price">@item.Price.ToString("#,##0")</div>
                                                                                        <span class="price actual-price">@item.DiscountPrice?.ToString("#,##0")</span>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class=products-container>
                                                        <div class=ajax-products-busy></div>
                                                        <div class=products-wrapper></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="show-all">
                                        <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="2">
                                            Xem tất cả iPad
                                            <i class="fa-regular fa-chevron-right"></i>
                                        </a>
                                    </div>
                                }

                                @* mac *@
                                @if (ViewBag.macCount > 0)
                                {
                                    <div class="item-box-list">
                                        <div class="category-item">
                                            <h2 class="title">
                                                <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="1">Mac</a>
                                            </h2>
                                            <div class="page category-page">
                                                <div class="page-body">
                                                    <div class="product-grid featured-product-grid">
                                                        <div class="item-grid">
                                                            @foreach (var item in ViewBag.mac)
                                                            {
                                                                <div class="item-box">
                                                                    <div class="product-item">
                                                                        <div class="product_tag">
                                                                            <img src="~/ClientTLE/images/uploaded/icon/vnpay500k.png"
                                                                                 alt="">
                                                                        </div>
                                                                        <div class="picture">
                                                                            <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.id"
                                                                               title="Hiển thị chi tiết cho iPad mini 6">
                                                                                <img alt="Ảnh của iPad mini 6"
                                                                                     src="@item.ImagePath"
                                                                                     title="Hiển thị chi tiết cho iPad mini 6">
                                                                            </a>
                                                                        </div>
                                                                        <div class="details">
                                                                            <h3 class=product-title>
                                                                                <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.id">
                                                                                    @item.ProductName
                                                                                </a>
                                                                            </h3>
                                                                            <div class=add-info>
                                                                                <div class=prices>
                                                                                    @if (item.DiscountPrice == null)
                                                                                    {
                                                                                        <div class="price old-price"></div>
                                                                                        <span class="price actual-price">@item.Price.ToString("#,##0")</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <div class="price old-price">@item.Price.ToString("#,##0")</div>
                                                                                        <span class="price actual-price">@item.DiscountPrice?.ToString("#,##0")</span>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class=products-container>
                                                        <div class=ajax-products-busy></div>
                                                        <div class=products-wrapper></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="show-all">
                                        <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="3">
                                            Xem tất cả Mac
                                            <i class="fa-regular fa-chevron-right"></i>
                                        </a>
                                    </div>
                                }

                                @* watch *@
                                @if (ViewBag.watchCount > 0)
                                {
                                    <div class="item-box-list">
                                        <div class="category-item">
                                            <h2 class="title">
                                                <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="1">Watch </a>
                                            </h2>
                                            <div class="page category-page">
                                                <div class="page-body">
                                                    <div class="product-grid featured-product-grid">
                                                        <div class="item-grid">
                                                            @foreach (var item in ViewBag.watch)
                                                            {
                                                                <div class="item-box">
                                                                    <div class="product-item">
                                                                        <div class="product_tag">
                                                                            <img src="~/ClientTLE/images/uploaded/icon/vnpay500k.png"
                                                                                 alt="">
                                                                        </div>
                                                                        <div class="picture">
                                                                            <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.id"
                                                                               title="Hiển thị chi tiết cho iPad mini 6">
                                                                                <img alt="Ảnh của iPad mini 6"
                                                                                     src="@item.ImagePath"
                                                                                     title="Hiển thị chi tiết cho iPad mini 6">
                                                                            </a>
                                                                        </div>
                                                                        <div class="details">
                                                                            <h3 class=product-title>
                                                                                <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.id">
                                                                                    @item.ProductName
                                                                                </a>
                                                                            </h3>
                                                                            <div class=add-info>
                                                                                <div class=prices>
                                                                                    @if (item.DiscountPrice == null)
                                                                                    {
                                                                                        <div class="price old-price"></div>
                                                                                        <span class="price actual-price">@item.Price.ToString("#,##0")</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <div class="price old-price">@item.Price.ToString("#,##0")</div>
                                                                                        <span class="price actual-price">@item.DiscountPrice?.ToString("#,##0")</span>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class=products-container>
                                                        <div class=ajax-products-busy></div>
                                                        <div class=products-wrapper></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="show-all">
                                        <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="4">
                                            Xem tất cả Watch
                                            <i class="fa-regular fa-chevron-right"></i>
                                        </a>
                                    </div>
                                }

                                @* accessory *@
                                @if (ViewBag.accessoryCount > 0)
                                {
                                    <div class="item-box-list">
                                        <div class="category-item">
                                            <h2 class="title">
                                                <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="1">Phụ kiện</a>
                                            </h2>
                                            <div class="page category-page">
                                                <div class="page-body">
                                                    <div class="product-grid featured-product-grid">
                                                        <div class="item-grid">
                                                            @foreach (var item in ViewBag.accessory)
                                                            {
                                                                <div class="item-box">
                                                                    <div class="product-item">
                                                                        <div class="product_tag">
                                                                            <img src="~/ClientTLE/images/uploaded/icon/vnpay500k.png"
                                                                                 alt="">
                                                                        </div>
                                                                        <div class="picture">
                                                                            <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.id"
                                                                               title="Hiển thị chi tiết cho iPad mini 6">
                                                                                <img alt="Ảnh của iPad mini 6"
                                                                                     src="@item.ImagePath"
                                                                                     title="Hiển thị chi tiết cho iPad mini 6">
                                                                            </a>
                                                                        </div>
                                                                        <div class="details">
                                                                            <h3 class=product-title>
                                                                                <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.id">
                                                                                    @item.ProductName
                                                                                </a>
                                                                            </h3>
                                                                            <div class=add-info>
                                                                                <div class=prices>
                                                                                    @if (item.DiscountPrice == null)
                                                                                    {
                                                                                        <div class="price old-price"></div>
                                                                                        <span class="price actual-price">@item.Price.ToString("#,##0")</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <div class="price old-price">@item.Price.ToString("#,##0")</div>
                                                                                        <span class="price actual-price">@item.DiscountPrice?.ToString("#,##0")</span>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class=products-container>
                                                        <div class=ajax-products-busy></div>
                                                        <div class=products-wrapper></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="show-all">
                                        <a asp-action="GetProductByCategory" asp-controller="Home" asp-route-id="5">
                                            Xem tất cả phụ kiện
                                            <i class="fa-regular fa-chevron-right"></i>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>


                    <!--News -->
                    @if (ViewBag.newsCount > 0)
                    {

                        <div class=news-list-homepage>
                            <h2 class=title><strong>Tin Tức</strong></h2>
                            <div class=news-items>
                                @foreach (var item in ViewBag.news)
                                {
                                    <div class=news-item>
                                        <div class=picture>
                                            <a asp-action="">
                                                <img src="@item.CoverImgPath">
                                            </a>
                                        </div>
                                        <h3 class="news-head" style=margin:0>
                                            <a class="news-title">
                                                @item.Title
                                            </a>
                                        </h3>
                                        <div class="news-dates">
                                            <span class="news-date">@item.CreatedDate</span>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="view-all">
                                <a asp-action="News" asp-controller="News">Xem tất cả Tin Tức</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new Splide(".splide", {
                type: "loop", focus: 0, autoplay: !0, perPage: 3, omitEnd: !0, focus: "center", gap: "20px", pagination: !1,
                breakpoints: {
                    640: {
                        perPage: 1
                    }
                }
            }).mount()
        })
    </script>


    <script>

        $(window).resize(function () {
            window.matchMedia("(max-width: 1000px)").matches && ($(".search-icon").click(function () {
                $(".header-menu.mobile").css("display", "none")
            }),
                $(".bg-sg").click(function () {
                    $(".header-menu.mobile").css("display", "block")
                }))
        });
        $(window).resize(function () {
            window.matchMedia("(min-width: 1001px)").matches && ($(".search-icon").click(function () {
                $(".header-menu.mobile").css("display", "none")
            }),
                $(".bg-sg").click(function () {
                    $(".header-menu.mobile").css("display", "none")
                }))
        });
        $(".search-icon").click(function () {
            $(".search-box").css("display", "block");
            $(".bg-sg").css("display", "block");
            $(".header .header-lower").css("max-width", "100%");
            $(".admin-header-links").css("display", "none");
            $("input#small-searchterms").focus()
        });
        $(".bg-sg").click(function () {
            $(".search-box").css("display", "none");
            $(".bg-sg").css("display", "none");
            $(".header .header-lower").css("max-width", "1200px");
            $(".admin-header-links").css("display", "block")
        });
        $(".login-icon").hover(function () {
            $(".account-desktop").css("display", "block")
        },
            function () {
                $(".account-desktop").css("display", "none")
            });
        $(".account-desktop").hover(function () {
            $(this).css("display", "block")
        },
            function () {
                $(".account-desktop").css("display", "none")
            });
        $("ul.top-menu.mobile .header-links a").hasClass("ico-login") &&
            $(".block.block-account-navigation.customer-navigation").css("display", "none");
        $(".popup-remind-search .check_close").click(function () {
            localStorage.setItem("SearchPopup", "0");
            $(".popup-remind-search").hide()
        });
        $(document).ready(function () {
            var n = localStorage.getItem("SearchPopup");
            (n == null || n == undefined || n != "0") && $(".popup-remind-search").show();
            $(".banner_cate_slick").slick({
                autoplay: !0, autoplaySpeed: 7e3, dots: !0, slidesToShow: 1, slidesToScroll: 1, infinite: !0
            });
            $(".banner_home-page.desktop").show()
        })
    </script>


}                                