@model IEnumerable<App.Web.ViewModels.Product.ProductListVM>
@{
    ViewData["Title"] = "SearchProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=bg-sg></div>
<div class=master-wrapper-content>
    <div class=master-column-wrapper>
        <div class=center-1>
            <div class="page search-page home-page all_content_category category-page">
                <div class=page-title style=display:block>
                    <h1>Tìm kiếm</h1>
                </div>
                <div class=page-body>
                    <div class=search-input>
                        <form method=get asp-action="SearchProducts" asp-controller="Home">
                            <div class=fieldset>
                                <div class=form-fields>
                                    <div class=basic-search>
                                        <div class=inputs>
                                            <label>Tìm từ khóa:</label> 
                                            <input class=search-text type=text name=search value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=buttons>
                                <button type=submit class="button-1 search-button">Tìm
                                    kiếm
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class=product-selectors>
                        <div class=product-sorting>
                            <span>Sắp xếp theo</span> 
                            <select name="orderby">
                                <option selected value=20>Th&#x1EE9; t&#x1EF1; hi&#x1EC3;n th&#x1ECB;</option>
                                <option value=11>Gi&#xE1; cao &#x111;&#x1EBF;n th&#x1EA5;p</option>
                                <option value=15>M&#x1EDB;i nh&#x1EA5;t</option>
                                <option value=5>T&#xEA;n: A &#x111;&#x1EBF;n Z</option>
                                <option value=6>T&#xEA;n: Z &#x111;&#x1EBF;n A</option>
                                <option value=10>Gi&#xE1; th&#x1EA5;p &#x111;&#x1EBF;n cao</option>
                            </select>
                        </div>
                        <div class=product-page-size>
                            <span>Hiển thị</span> 
                            <select name="size">
                                <option selected  value="8">8</option>
                                <option value=12>12</option>
                                <option value=16>16</option>
                                <option value=24>24</option>
                            </select> 
                            <span>trên một trang</span>
                        </div>
                    </div>
                    <div class=search-results>
                        <div class=products-container>
                            <div class=ajax-products-busy></div>
                            <div class=products-wrapper>
                                <div class=product-grid>
                                    <div class=item-grid>
                                        @if(Model.Count() > 0)
                                        {
                                            foreach(var item in Model)
                                            {
                                                <div class="item-box">
                                                    <div class="product-item">
                                                        <div class="product_tag"></div>
                                                        <div class="picture">
                                                            <a asp-action="ProductDetail" asp-controller="Home" asp-route-id="@item.id"
                                                                title="Hiển thị chi tiết cho @item.ProductName">
                                                                <img alt="Ảnh của iPhone 13 Pro Max"
                                                                    src="@item.ImagePath">
                                                            </a>
                                                        </div>
                                                        <div class=details>
                                                            <h2 class=product-title>
                                                                <a asp-action="ProductDetail" asp-controller="Home" asp-route-id="@item.id">
                                                                    iPhone 13 Pro Max</a>
                                                            </h2>
                                                            <div class=add-info>
                                                                <div class=prices>
                                                                    @if(item.DiscountPrice == null)
                                                                    {
                                                                        <div class="price old-price"></div>
                                                                        <span class="price actual-price">@item.Price.ToString("#,##0")</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="price old-price">@item.Price.ToString("#,##0")</div>
                                                                        <span class="price actual-price">@item.DiscountPrice?.ToString("#,##0")</span>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <h3 style="color: darkred">không tìm thấy sản phẩm</h3>
                                        }
                                    </div>
                                </div>
                                @if (Model.Count() > 0)
                                {
                                    <div class="pager" style="display: flex">
                                        <partial name="_pagerSearch.cshtml" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

