@model IEnumerable<App.Web.ViewModels.News.RelatedNewsVM>
@inject SystemEnvironment sysEnv

<div class="relatedposts">
	<h3>Bài viết liên quan</h3>
	<div class="row">
		@if (Model.Count() > 0)
		{
			foreach (var item in Model)
			{
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="relatedthumb">
						<div class="image img-full">
							@if (!item.Slug.IsNullOrEmpty())
							{
								<a asp-controller="News" asp-action="NewsDetail" asp-route-slug="@item.Slug"
								   title="@item.Title">
									@if (!item.CoverImgPath.IsNullOrEmpty())
									{
										<img src="@item.CoverImgPath" style="width: 100%; height: 100%;"
											 alt="@(item.Title ?? "")">
									}
									else
									{
										<img src="@sysEnv[SystemEnvConst.DEFAULT_IMAGE]" style="width: 100%; height: 100%;">
									}
								</a>
							}
						</div>
						<h4>
							@if (!item.Slug.IsNullOrEmpty())
							{
								<a asp-controller="News" asp-action="NewsDetail" asp-route-slug="@item.Slug">
									@if (!item.Title.IsNullOrEmpty())
									{
										<span>@item.Title</span>
									}
								</a>
							}
						</h4>
						<span class="rl-post-date"></span>
					</div>
				</div>
			}
		}
	</div>
</div>