@model IEnumerable<App.Web.Areas.Admin.ViewModels.AppPolicy.PolicyListItemVM>

@{
	ViewData["Title"] = "Danh sách chính sách";
}

@if (User.IsInPermission(AuthConst.AppPolicy.CREATE))
{
	<div class="my-2">
		<a asp-action="Create" class="btn btn-primary">
			<i class="fas fa-plus-circle"></i> &nbsp; Tạo chính sách mới
		</a>
	</div>
}

<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="fit">#</th>
				<th class="text-center fit">Hình</th>
				<th>Tiêu đề</th>
				<th>Slug</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="fit">@item.RowIndex</td>
					<td class="text-center fit">
						@{
							if (item.CoverImgPath != null)
							{
								<img src="@item.CoverImgPath" class="item-news-image" />
							}
							else
							{
								<img src="~/files/logo.png" style=" width: 50px;height: 50px;object-fit: cover;" />
							}
						}
					</td>
					<td>@item.Title</td>
					<td>@item.Slug</td>
					<td class="fit">
						@if (User.IsInPermission(AuthConst.AppPolicy.UPDATE))
						{
							<a asp-action="Update" asp-route-id="@item.Id"
							   class="btn btn-outline-secondary btn-sm"><i class="fas fa-pen"></i></a>
						}
						@if (User.IsInPermission(AuthConst.AppPolicy.VIEW_DETAIL))
						{
							<a asp-action="Detail" asp-route-id="@item.Id"
							   class="btn btn-outline-info btn-sm"><i class="fas fa-eye"></i></a>
						}
						@if (User.IsInPermission(AuthConst.AppPolicy.DELETE))
						{
							<a asp-action="Delete" asp-route-id="@item.Id"
							   class="btn btn-outline-danger btn-sm js-delete-confirm"
							   data-msg="Xác nhận xóa chính sách [@item.Title]?"><i class="fas fa-trash"></i></a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<partial name="_Pager" />