@model IEnumerable<App.Web.Areas.Admin.ViewModels.User.UserListItemVM>

@{
	ViewData["Title"] = "Danh sách tài khoản";
	var row = 0;
}

@if (User.IsInPermission(AuthConst.AppUser.CREATE))
{
	<div class="my-2">
		<a asp-action="Create" class="btn btn-primary">
			<i class="fas fa-user-plus"></i> &nbsp; Tạo mới người dùng
		</a>
	</div>
}


<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Tài khoản</th>
				<th>Họ tên</th>
				<th>SĐT</th>
				<th>Email</th>
				<th>Vai trò</th>
				<th>Ngày tạo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				row++;
				<tr>
					<td class="fit">@row</td>
					<td>
						@item.Username
						@if (item.IsBlock)
						{
							<span class="small text-secondary"> <i class="fa fa-lock"></i> @item.BlockedTo.ToDMY()</span>
						}
					</td>
					<td>@item.FullName</td>
					<td>@item.PhoneNumber</td>
					<td>@item.Email</td>
					<td>@item.RoleName</td>
					<td>@item.CreatedDate.ToDMY()</td>
					<td class="fit">
						@*<a asp-action="Details" asp-route-id="@item.Id"
							class="btn btn-outline-secondary btn-sm"><i class="fa fas fa-eye"></i></a>*@
						@if (User.IsInPermission(AuthConst.AppUser.BLOCK))
						{
							if (item.IsBlock)
							{
								<a asp-action="UnBlockUser" asp-route-id="@item.Id" title="Mở khóa tài khoản"
								   data-msg="Xác nhận mở khóa tài khoản [@item.Username]?"
								   class="btn btn-outline-secondary btn-sm"><i class="fas fa-unlock"></i></a>

							}
						}
						@if (User.IsInPermission(AuthConst.AppUser.UNBLOCK))
						{
							if (!item.IsBlock)
							{
								<button type="button" data-id="@item.Id" data-username="@item.Username" title="Khóa tài khoản"
										class="btn btn-outline-danger btn-sm js-block" data-toggle="modal" data-target="#ModalBlock">
									<i class="fas fa-ban"></i>
								</button>
							}
						}
						@if (User.IsInPermission(AuthConst.AppUser.UPDATE))
						{
							<a asp-action="Edit" asp-route-id="@item.Id"
							   class="btn btn-outline-secondary btn-sm"><i class="fa fas fa-pen"></i></a>
						}
						@*@if (User.IsInPermission(AuthConst.AppUser.DELETE))
							{
								<a asp-action="Delete" asp-route-id="@item.Id"
									class="btn btn-outline-secondary btn-sm js-delete-confirm"
									data-msg="Xác nhận xóa tài khoản [@item.Username]?"><i class="fa fas fa-trash"></i></a>
							}*@
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<partial name="_ModalBlockUser" />

<partial name="_Pager" />

@section scripts {
	<script src="~/js/Admin/user/block_user.js" asp-append-version="true"></script>
}