@model IEnumerable<App.Web.ViewModels.Product.ProductListVM>
@inject SystemEnvironment sysEnv


@if (Model.Count() > 0)
{
	<div class="pdBlockDetail pdRelatedInfo">
		<div class="relatedPD">
			<div class="pdRelated">
				<div class="blockTitle svn">
					<div class="section-title text-center mb-35 mt-35">
						<h3><a asp-controller="Product" asp-action="Index">Sản phẩm liên quan</a></h3>
					</div>
				</div>
				<div class="relatedListting">
					<div class="contentRelatedPd owl-carousel owl-theme">
						@foreach (var item in Model)
						{
							if (!item.ProductName.IsNullOrEmpty())
							{
								<div class="itemProduct">
									<div class="single-product mb-20" data-color="27625710">
										<div class="product-img img-full ">
											<a  asp-controller="Product" asp-action="ProductDetail" 
												   asp-route-slug="@item.Slug" asp-route-id="@item.Id" 
											   title="@item.ProductName">
												<ul class="onsale-fix">
													@if (!item.TagProduct.IsNullOrEmpty())
													{
														@foreach (var item2 in item.TagProduct.ReplaceTagInput().Split(","))
														{
															<li>@item2.Trim()</li>
														}
													}
												</ul>
												@if (!item.ImagePath.IsNullOrEmpty())
												{
													<img class="lazyload"
														 src="@item.ImagePath"
														 data-src="@item.ImagePath"
														 alt="@item.ProductName">
												}
												else
												{
													<img class="lazyload"
														 src="@sysEnv[SystemEnvConst.DEFAULT_IMAGE]"
														 data-src="@sysEnv[SystemEnvConst.DEFAULT_IMAGE]"
														 alt="@item.ProductName">
												}
											</a>
										</div>
										<div class="product-content">
											<h3>
												<a asp-controller="Product" asp-action="ProductDetail" 
												   asp-route-slug="@item.Slug" asp-route-id="@item.Id"
												   title="@item.ProductName">
													@item.ProductName
												</a>
											</h3>
											<div class="product-price">
												<div class="price-box">
													@if (item.IsDiscountProduct)
													{
														<span class="regular-price fix-regular-price">
															@item.DiscountPrice?.ToString("#,0đ")
														</span>
														<span class="price ml5">@item.Price.ToString("#,0đ")</span>
													}
													else
													{
														<span class="regular-price">@item.Price.ToString("#,0đ")</span>
													}
												</div>
											</div>
										</div>
										<div class="product-box-color">
											<div class="color-value">
												<script>
													jQuery(document).ready(function ($) {
														$('.single-product .swatch-element').hover(function (e) {
															var img = $(this).attr('data-image');
															$(this).parents('.single-product').find('.product-img a img').attr('src', img);
														});
														$('.swatch-list').not('.slick-initialized').slick({
															infinite: false,
															slidesToShow: 4,
															slidesToScroll: 1
														});
													});
												</script>
											</div>
										</div>
									</div>
								</div>

							}
						}
					</div>
				</div>
			</div>
		</div>
	</div>
}
