@model App.Web.ViewModels.Account.UpdateProfileVM
@{
    ViewData["Title"] = "UpdateAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-sg"></div>
<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <partial name="_side-2.cshtml" />
        <div class=center-2>            
            <form method="post" asp-action="UpdateAddress" asp-controller="Account">
                <div class="page account-page address-edit-page">
                    <div class="page-title">
                        <h1>Sửa địa chỉ</h1>
                    </div>
                    <div class="page-body">
                        <div class="edit-address">
                            <div class="inputs">
                                <label for=Address_FirstName>Tên, Họ:</label> 
                                <input type=text value="@Model.fullname"> 
                                 <span class="field-validation-valid" asp-validation-for="@Model.fullname"></span>
                            </div>
                            <div class="inputs two_col left">
                                <label>Số điện thoại:</label> 
                                <input type=tel value="@Model.phone"> 
                                <span class=field-validation-valid asp-validation-for="@Model.phone"></span>
                            </div>
                            <div class="inputs two_col right">
                                <label >Email:</label>
                                <input type="email" value="@Model.email">
                                <span class=field-validation-valid asp-validation-for="@Model.email"></span>
                            </div>

                            <div class="inputs one-col">
                                <label >Địa chỉ nhận hàng:</label> 
                                <input type="text" value="@Model.address">
                                <span class="field-validation-valid" asp-validation-for="@Model.address"></span>
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="submit" class="button-1 save-address-button">
                                Lưu lại
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>


