@model IEnumerable<App.Web.Areas.Admin.ViewModels.News.NewsListItemVM>

@{
	ViewData["Title"] = "Danh sách tin tức";
}

<div class="d-flex">
	@if (User.IsInPermission(AuthConst.AppNews.CREATE))
	{
		<div class="my-2 mr-2">
			<a asp-action="Create" class="btn btn-primary">
				<i class="fas fa-book-medical"></i> &nbsp; Tạo mới bài viết
			</a>
		</div>
	}

	<div class="my-2">
		<button class="btn btn-success" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			<i class="fas fa-search"></i> &nbsp; Tìm kiếm bài viết
		</button>
	</div>
</div>

<partial name="_FormSearch" />

<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th class="text-center">Hình</th>
				<th>Tiêu đề</th>
				<th>Tóm tắt</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="fit">@item.RowIndex</td>
					<td class="text-center">
						@{
							if (item.CoverImgPath != null)
							{
								<img src="@item.CoverImgPath" class="item-news-image" />
							}
							else
							{
								<img src="~/files/logo.png" style=" width: 50px;height: 50px;object-fit: cover;" />
							}
						}
					</td>
					<td>
						<div>
							@if (item.Published)
							{
								<i class="fas fa-globe text-secondary" title="Bài viết công khai"></i>
							}
							else
							{
								<i class="fas fa-lock text-secondary" title="Bài viết bị ẩn"></i>
							}
							@if (item.CategoryName.IsNullOrEmpty())
							{
								<div class="badge badge-secondary">Không có danh mục</div>
							}
							else
							{
								<div class="badge badge-primary">@item.CategoryName</div>
							}
							<span class="ml-1 text-secondary small"><i class="fa fa-eye"></i> @item.Views</span>
						</div>
						@item.Title
						@*<a class="text-secondary ml-1" target="_blank" asp-controller="News" asp-action="NewsDetails"
						   asp-route-slug="@item.Slug" asp-route-id="@item.Id">
							<i class="fas fa-external-link-alt text-secondary"></i>
						</a>*@
					</td>
					<td>@item.Summary</td>
					<td class="fit">
						@{
							if (item.Published)
							{
								if (User.IsInPermission(AuthConst.AppNews.UNPUBLIC))
								{
									<a asp-action="UnPublicNews" asp-route-id="@item.Id"
									   class="btn btn-outline-secondary btn-sm js-delete-confirm"
									   data-msg="Xác nhận ẩn bài viết [@item.Title]?" title="Ẩn bài viết">
										<i class="fas fa-lock"></i>
									</a>
								}
							}
							else
							{
								if (User.IsInPermission(AuthConst.AppNews.PUBLIC))
								{
									<a asp-action="PublicNews" asp-route-id="@item.Id"
									   class="btn btn-outline-secondary btn-sm js-delete-confirm"
									   data-msg="Xác nhận công khai bài viết [@item.Title]?" title="Công khai bài viết">
										<i class="fas fa-globe"></i>
									</a>
								}
							}
							if (User.IsInPermission(AuthConst.AppNews.UPDATE))
							{
								<a asp-action="Update" asp-route-id="@item.Id"
								   class="btn btn-outline-secondary btn-sm"><i class="fas fa-pen"></i></a>
							}
							if (User.IsInPermission(AuthConst.AppNews.DELETE))
							{
								<a asp-action="Delete" asp-route-id="@item.Id"
								   class="btn btn-outline-danger btn-sm js-delete-confirm"
								   data-msg="Xác nhận xóa bài viết [@item.Title]?"><i class="fas fa-trash"></i></a>
							}
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<partial name="_Pager" />