@model SystemEnvironment;
@{
	ViewData["Title"] = "Giới thiệu";
}
@section head {
	<link rel="stylesheet" href="~/lib/jqueryui/themes/base/theme.css" />
	<link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />
	<link rel="stylesheet" href="~/lib/elfinder/css/theme.min.css" />
	<link rel="stylesheet" href="~/adminLTE/dist/css/AboutCompany.css" />
}

<form asp-action="CompanyIntroduction" asp-area="Admin"
	  method="post"
	  asp-controller="AboutCompany" autocomplete="off">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	@* --- COMPANY INTRODUCE ---*@
	<div class="form-group">
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label mb-2">Tiêu đề giới thiệu</label>
						<input id="@SystemEnvConst.COMPANY_INTRODUCE_TITLE"
							   value="@Model[SystemEnvConst.COMPANY_INTRODUCE_TITLE]"
							   name="@SystemEnvConst.COMPANY_INTRODUCE_TITLE" placeholder="Về công ty..." class="form-control" />
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label mb-2">Nội dung</label>
						<textarea id="@SystemEnvConst.COMPANY_INTRODUCE_CONTENT" name="@SystemEnvConst.COMPANY_INTRODUCE_CONTENT">@Model[SystemEnvConst.COMPANY_INTRODUCE_CONTENT]</textarea>
					</div>
				</div>
			</div>
			<div class="row  mt-3 mb-3 ">
				<div class="col-md-6">
					<div class="form-group group-container">
						<label class="control-label required mb-2">Ảnh giới thiệu 1</label>
						<div id="elfinder-background"></div>
						<input name="@SystemEnvConst.COMPANY_INTRODUCE_IMAGE_1"
							   value="@Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_1]"
							   id="@SystemEnvConst.COMPANY_INTRODUCE_IMAGE_1" hidden class="form-control">
						<div class="position-relative">
							<input type="button"
								   class="btn btn-elfinder w-100 h-100 position-absolute"
								   data-imgthumbnailpath="#CompanyIntroduceImage1"
								   data-imgpath="#CompanyIntroduceImage1">
							<div class="selectedImages">
								@{
									if (Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_1] == "")
									{
										<span>Ảnh giới thiệu</span>
									}
									else
									{
										<img class="image-review" src="@Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_1]" />
									}
								}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group group-container">
						<label class="control-label required mb-2">Ảnh giới thiệu 2</label>
						<div id="elfinder-background"></div>
						<input name="@SystemEnvConst.COMPANY_INTRODUCE_IMAGE_2"
							   value="@Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_2]"
							   id="@SystemEnvConst.COMPANY_INTRODUCE_IMAGE_2" hidden class="form-control">
						<div class="position-relative">
							<input type="button"
								   class="btn btn-elfinder w-100 h-100 position-absolute"
								   data-imgthumbnailpath="#CompanyIntroduceImage2"
								   data-imgpath="#CompanyIntroduceImage2">
							<div class="selectedImages">
								@{
									if (Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_2] == "")
									{
										<span>Ảnh giới thiệu</span>
									}
									else
									{
										<img class="image-review" src="@Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_2]" />
									}
								}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group group-container">
						<label class="control-label required mb-2">Ảnh giới thiệu 3</label>
						<div id="elfinder-background"></div>
						<input name="@SystemEnvConst.COMPANY_INTRODUCE_IMAGE_3"
							   value="@Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_3]"
							   id="@SystemEnvConst.COMPANY_INTRODUCE_IMAGE_3" hidden class="form-control">
						<div class="position-relative">
							<input type="button"
								   class="btn btn-elfinder w-100 h-100 position-absolute"
								   data-imgthumbnailpath="#CompanyIntroduceImage3"
								   data-imgpath="#CompanyIntroduceImage3">
							<div class="selectedImages">
								@{
									if (Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_3] == "")
									{
										<span>Ảnh giới thiệu</span>
									}
									else
									{
										<img class="image-review" src="@Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_3]" />
									}
								}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group group-container">
						<label class="control-label required mb-2">Ảnh giới thiệu 4</label>
						<div id="elfinder-background"></div>
						<input name="@SystemEnvConst.COMPANY_INTRODUCE_IMAGE_4"
							   value="@Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_4]"
							   id="@SystemEnvConst.COMPANY_INTRODUCE_IMAGE_4" hidden class="form-control">
						<div class="position-relative">
							<input type="button"
								   class="btn btn-elfinder w-100 h-100 position-absolute"
								   data-imgthumbnailpath="#CompanyIntroduceImage4"
								   data-imgpath="#CompanyIntroduceImage4">
							<div class="selectedImages">
								@{
									if (Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_4] == "")
									{
										<span>Ảnh giới thiệu</span>
									}
									else
									{
										<img class="image-review" src="@Model[SystemEnvConst.COMPANY_INTRODUCE_IMAGE_4]" />
									}
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	@if (User.IsInPermission(AuthConst.AppAboutCompany.UPDATE))
	{
		<div class="form-group">
			<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
			<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Nhập lại</button>
		</div>
	}
</form>

@section scripts {
	<link rel="stylesheet" href="~/lib/jqueryui/themes/base/theme.css" />
	<link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />
	<link rel="stylesheet" href="~/lib/elfinder/css/theme.min.css" />
	<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
	<script src="~/lib/elfinder/js/elfinder.min.js"></script>
	<script src="~/js/elfinder/common_elfinder.js"></script>
	@await Html.PartialAsync("_Summernote", new { height = 400, selector = "#CompanyIntroduceContent" })
	@await Html.PartialAsync("_Summernote", new { height = 400, selector = "#CompanyIntroduceSelect" })
}
